@charset "UTF-8";

* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

.container{
	margin-left: 10%;
	margin-right: 10%;
}

.lista{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.detalle{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tarjeta h3{
	font-style: italic;
}

.tarjeta{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	background-color: rgb(219, 228, 234);
	margin: 15px;
	padding: 15px;
	border-radius: 10px;
	width: 250px;
}

.formulario {
	display: flex;
	flex-direction: column;
	background-color: rgb(219, 228, 234);
	padding: 20px;
	border-radius: 10px;
	width: 400px;
}

.formulario .datos {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}

.botones{
	display: flex;
	gap: 10px;
}

.boton{
	border-radius: 10px;
	width: 80px;
	padding: 5px;
	border: bold;
	background-color: #4a90e2;
}

.btn-eliminar{
	border-radius: 10px;
	width: 80px;
	padding: 5px;
	border: bold;
	background-color: #e57373;
}
